/* Resetando margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0 0px 0px;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

/* Navegação */
nav {
    background-color: #333333a8;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4CAF50;
}

/* Corpo principal */
main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #4CAF50;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 1.1em;
    margin-bottom: 15px;
}
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #4CAF50;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table code {
    background-color: #f4f4f9;
    padding: 5px;
    font-family: 'Courier New', monospace;
}

ul {
    margin-left: 20px;
    list-style-type: square;
}
ol
{
    margin-left: 20px;
    list-style-type: circle;
}
code {
    background-color: #f0f0f0;
    padding: 5px;
    font-family: 'Courier New', monospace;
}

/* Bloco de código */
pre code {
    display: block;
    background-color: #f4f4f4;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilo do link de navegação */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
