@charset "UTF-8";
/* Responsividade: quando a tela for menor que 768px, o menu lateral será oculto */
@media screen and (max-width: 768px) {
    table {
        font-size: 10px;
    }

    th, td {
        padding: 5px;
    }
    .sidebar {
        width: 200px;
    }

    .sidebar.active {
        left: 0;
    }
    header h1{
        font-size: 25px;
    }
    .toggle-btn {
        top: 5px;
    }

}


/* Resetando margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #306998;
    color: white;
    padding: 15px 0px 0px 0px;
    text-align: center;
    margin: 0px 0px 0px 0px ;
}

header h1 {
    font-size: 2em;
}
nav .placeholder {
    display: flex;
    height: 31px; 
}
/* Navegação */
nav {
    background-color: #333;
    margin-top: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 4.5px;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    background-color: #242424;
    text-decoration: none;
}

/* Corpo principal */
main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #306998;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 1.1em;
    margin-bottom: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed; 
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #306998;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table code {
    background-color: #f4f4f9;
    padding: 5px;
    font-family: 'Courier New', monospace;
}

ul {
    margin-left: 20px;
    list-style-type: square;
}
.circle
{
    margin-left: 20px;
    list-style-type: circle;
}
code {
    background-color: #f0f0f0;
    padding: 5px;
    font-family: 'Courier New', monospace;
}

/* Bloco de código */
pre code {
    display: block;
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilo do link de navegação */
a {
    color: #306998;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.red {
    background-color: white;
    color: red;
}
.obs{
    background-color: #FFD43B;
}
.toggle-btn {
    font-size: 30px;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    left: -250px; 
    top: 0;
    background-color: #333;
    transition: left 0.3s ease;
    padding-top: 60px;
}

.sidebar.active {
    left: 0; 
    
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    text-align: center;
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}




